extends ./layout/index

block content
  main.container.mt-5 
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Efel tower", class="img-fluid")
      .col-md-7
        h1=pagina
        
        blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, magni dicta cupiditate aliquid quae, similique consequuntur voluptates cum esse amet expedita optio inventore explicabo hic. Atque illo tenetur sunt cupiditate.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cumque inventore qui modi doloribus magni! Quos iusto accusamus, fuga quo aut, totam mollitia officia dignissimos consequatur aperiam ratione omnis corrupti?

        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem iusto quae dolorum, magnam voluptate nulla necessitatibus tenetur dolores recusandae assumenda omnis quos architecto quisquam qui? Omnis, ratione asperiores. Aspernatur, odit.

  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="security icon", class="img-fluid mb-4")     
          h2.mb-4 Security 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ut molestiae sint, doloribus consequatur blanditiis saepe. Similique, assumenda iure sapiente illo molestias perferendis sed alias totam quas et, harum laudantium?
        
        .col-md-4
          img(src="img/icono_destinos.svg", alt="destination icon", class="img-fluid mb-4")     
          h2.mb-4 Unforgettable Destinations
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ut molestiae sint, doloribus consequatur blanditiis saepe. Similique, assumenda iure sapiente illo molestias perferendis sed alias totam quas et, harum laudantium?                
        
        .col-md-4
          img(src="img/icono_precios.svg", alt="price icon", class="img-fluid mb-4")     
          h2.mb-4  The Best Prices 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ut molestiae sint, doloribus consequatur blanditiis saepe. Similique, assumenda iure sapiente illo molestias perferendis sed alias totam quas et, harum laudantium?                                   